doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Movies
        link(rel="stylesheet", href="./css/style.css")

    body 
        include ./header.pug

        main    
            section(class="cardContainer")
                each movie in movies
                    article 
                        p title: #{movie.Title}
                        img(src=movie.Poster, alt="poster")
                        p year: #{movie.Year}
                        p director: #{movie.Director}
                        p genre: #{movie.Genre}
                        p runtime: #{movie.Runtime}
                        p plot: #{movie.Plot}
                        p actor: #{movie.Actor}
                        p opinions: #{movie.Opinions}
                        - var idMovie = movie._id;
                        - var idOMDB = movie.imdbID
                        p id mongo #{idMovie}
                        p id OMDB #{idOMDB}
                        - var ids = {"idMongo":idMovie,"idOMDB":idOMDB}
                        p ids #{ids}
                        button(class="favbtn" value = ids) quitar favoritos
            section(class="cardContainer")
            


        include ./footer.pug
        script(src="/js/removefavourite.js") 