doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Edit Detail
        link(rel="stylesheet", href="../css/style.css")
        
    body 
        include ./header 
        h2 Edite la película 
        main 
            form(action="/editmoviedetail" method="POST" class="createmovieform")
                div(class="inputs")
                    input(type="text" name="id_movie" style={display: 'none'} value=`${id_movie}`)
                    label(for="Title") Título
                    input(type="text" name="Title" value=`${Title}`)
                    label(for="Director") Director
                    input(type="text" name="Director" value=`${Director}`)
                    label(for="Year") Año
                    input(type="text" name="Year" value=`${Year}`)
                    label(for="Runtime") Duración 
                    input(type="text" name="Runtime" value=`${Runtime}`)
                    label(for="Poster") Poster Url
                    input(type="text" name="Poster" value=`${Poster}`)
                    label(for="Genero") Género
                    input(type="text" name="Genre" value=`${Genre}`)
                    label(for="argumento") Argumento
                    input(type="text" name="Plot" value=`${Plot}`)
                    label(for="actores") Actores
                    input(type="text" name="Actors" value=`${Actors}`)
                    label(for="opioniones") Opiniones
                    input(type="text" name="Ratings" value=`${Ratings}`)
                    button(type="submit" value="Editar") Editar película 

        

        include ./footer 
        script(src="../public/js/editdetail.js") 
    